############### Config options ##################
[gcode_macro bedfanvars]
variable_fast: 0.6		# Fan speed once bed temp is reached  
variable_slow: 0.2		# Fan speed while bed is heating
gcode:

########## Bed Fans #########

[fan_generic BedFans]
pin: PB3
cycle_time: 0.05
kick_start_time: 0.5

########## Aliases #########

[gcode_macro BedFansSlow]
gcode:
	# Vars
	{% set SLOW = printer["gcode_macro bedfanvars"].slow|float %}
	
	SET_FAN_SPEED FAN=BedFans SPEED={SLOW}

[gcode_macro BedFansFast]
gcode:
	# Vars
	{% set FAST = printer["gcode_macro bedfanvars"].fast|float %}
	
	SET_FAN_SPEED FAN=BedFans SPEED={FAST}

[gcode_macro BedFansOff]
gcode:
	SET_FAN_SPEED FAN=BedFans SPEED=0

############ Command overrides ############
	
# Replace TURN_OFF_HEATERS
[gcode_macro TURN_OFF_HEATERS]
rename_existing: _TURN_OFF_HEATERS
gcode:
	BedFansOff
	_TURN_OFF_HEATERS